@import 'vertmiddle';


html {
  font: 100 16px "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.5;
}

body {
  background-color: #f8fcf3;
}

html, body {
  height: 100%;
}

#screen {
  width: 100%;
  height: 100%;
  position: relative;
}


/* 头像 */
.avatar-big {
  background-color: #ccc;

  @media (min-width: 768px) {
    width: 120px;
    height: 120px;
  }

  @media (min-width: 600px) and (max-width: 767px) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: 599px) {
    width: 60px;
    height: 60px;
  }
}


/* 头像菜单 */
#person {
  @media (min-width: 600px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;

    opacity: 0.5;

    padding: 10px;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 10px 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

    transition: width 0.25s ease, height 0.25s ease, opacity 0.25s ease;
    transition-delay: 0.25s;
  }

  @media (min-width: 768px) {
    width: 120px;
    height: 120px;

    &:hover {
      width: 350px;
      height: 550px;
      opacity: 1;

      transition:
        width 0.2s linear 0.5s,
        height 0.2s linear 0.5s,
        opacity 0.25s linear 0s;
    }
  }

  @media (min-width: 600px) and (max-width: 767px) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: 599px) {
    width: 60px;
    height: 60px;
  }
}


/* 大区 */
#content {
  height: 100%;

  /* 让滚动条出现在这里, 而不是 window */
  overflow: auto;
}

// 全局通知栏
#noticebox {
  height: 240px;
}

#areas {
  height: 100%;

  > .area {
    min-height: 100%;
  }
}


/* 顶部导航公共 */
.navclass-top {
  float: left;
  height: 100%;

  &.navclass-alignright {
    float: right;
  }

  > .navitem {
    @include vertmiddle-outer;
    float: left;

    position: relative;
    top: 0;

    height: 100%;
    color: #fff;

    padding: 0 0.75em;
    border-bottom: 0px solid;

    transition: border-bottom-width 0.1s;

    &:hover {
      border: {
        bottom: {
          width: 6px;
          // color 每个大区不同, 用脚本设置的
          // 这里是没有明确指定颜色情况下采用的默认值
          color: #666;
        }
      }
    }

    /* 放慢活跃标签变化时原先活跃的标签向上收缩的速度 */
    #topnav.hidden & {
      -webkit-transition: top 0.5s, background-color 0s 0.5s;
      -moz-transition: top 0.5s, background-color 0s 0.5s;
      -ms-transition: top 0.5s, background-color 0s 0.5s;
      -o-transition: top 0.5s, background-color 0s 0.5s;
      transition: top 0.5s, background-color 0s 0.5s;
    }

    #topnav.hidden:hover & {
      /* 不得已重复了一遍 border-bottom-width 的效果... */
      transition: top 0s, border-bottom-width 0.1s;
    }

    > .navlink {
      @include vertmiddle-inner;
    }
  }

  > .navitem-active {
    font-weight: bold;

    border: {
      bottom: {
        width: 6px;
        // 关于 color 的说明同上
        color: #666;
      }
    }

    /* 让当前活跃的大区标题在顶部导航隐藏的时候拉下来 */
    #topnav.hidden & {
      top: 42px;
      background-color: rgba(0, 0, 0, 0.5);
      transition: top 0.75s ease 0.15s;
    }

    #topnav.hidden:hover & {
      top: 0px;
      background-color: rgba(0, 0, 0, 0);
      transition: top 0.15s 0s, background-color 0.5s 0.15s;
    }
  }
}


/* 顶部导航 */
#topnavbox {
  position: fixed;
  top: 0;
  z-index: 1500;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  @media (min-width: 768px) {
    // 别挡着 #content 上的滚动条
    right: 2%;
    width: 98%;
    padding: 0 0 0 140px;
  }

  @media (min-width: 600px) and (max-width: 767px) {
    padding: 0 0 0 110px;
  }

  @media (max-width: 599px) {
    padding: 0 0 0 80px;
  }
}

#topnav {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
  opacity: 0.5;

  @media (min-width: 768px) {
    position: relative;
    top: 0;

    width: 100%;
    height: 48px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 0 0 6px 0;

    // 这是为了让最右边导航项的选择效果的 border-bottom 显得不突兀
    padding: 0 6px 0 0;

    -webkit-transition: opacity 0.15s, top 0.15s;
    -moz-transition: opacity 0.15s, top 0.15s;
    -ms-transition: opacity 0.15s, top 0.15s;
    -o-transition: opacity 0.15s, top 0.15s;
    transition: opacity 0.15s, top 0.15s;

    &:hover {
      top: 0;
      opacity: 1;
    }

    &.hidden {
      top: -42px;

      &:hover {
        top: 0;
      }
    }
  }
}


/* vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8: */
