@import 'vertmiddle';


html {
  font-family: "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  font-weight: 100;
}

body {
  background-color: #f8fcf3;
}

html, body {
  height: 100%;
}

#screen {
  width: 100%;
  height: 100%;
  position: relative;
}


/* 头像 */
.avatar-big {
  background-color: #ccc;

  @media (min-width: 768px) {
    width: 120px;
    height: 120px;
  }

  @media (min-width: 600px) and (max-width: 767px) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: 599px) {
    width: 60px;
    height: 60px;
  }
}


/* 头像菜单 */
#person {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;

  padding: 10px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 10px 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  transition: width 0.25s ease, height 0.25s ease, background-color 0.25s ease;
  transition-delay: 0.25s;

  @media (min-width: 768px) {
    width: 120px;
    height: 120px;

    &:hover {
      width: 350px;
      height: 550px;
      background-color: rgba(0, 0, 0, 0.8);

      transition: width 0.2s linear 0.5s, height 0.2s linear 0.5s, background-color 0.25s linear 0s;
    }
  }

  @media (min-width: 600px) and (max-width: 767px) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: 599px) {
    width: 60px;
    height: 60px;
  }
}


/* 顶部通知 */
#noticebox {
  height: 240px;
}


/* 大区 */
#content {
  height: 100%;

  /* 让滚动条出现在这里, 而不是 window */
  overflow: auto;
}

#areas {
  height: 100%;

  > .area {
    min-height: 100%;
    text-align: center;
  }
}


/* 左侧标签面板 */
#tabpanebox {
  position: fixed;
  top: 0;
  left: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 140px 0 0 0;
  width: 0;
  height: 100%;
}

#tabpane {
  position: relative;
  left: -120px;
  top: 0;
  width: 130px;
  height: 100%;
  z-index: 1500;

  transition: left 0.15s;

  &:hover {
    left: 0;
  }

  > .tablist {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    > .tabwnd {
      padding: 0 10px 0 0;
      min-height: 3em;
      background-color: rgba(0, 0, 0, 0.505);

      &:hover {
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

/* 顶部导航公共 */
.navclass-top {
  float: left;
  height: 100%;

  &.navclass-alignright {
    float: right;
  }

  > .navitem {
    @include vertmiddle-outer;
    float: left;

    position: relative;
    top: 0;

    height: 100%;
    color: #fff;

    padding: 0 0.5em;
    border-bottom: 0px solid;

    transition: border-bottom-width 0.1s;

    &:hover {
      border: {
        bottom: {
          width: 6px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    > .navlink {
      @include vertmiddle-inner;
    }
  }

  > .navitem-active {
    border: {
      bottom: {
        width: 6px;
        color: #000 !important;
      }
    }
  }
}


/* 顶部导航 */
#topnavbox {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0 0 0 140px;
  }

  @media (min-width: 600px) and (max-width: 767px) {
    padding: 0 0 0 110px;
  }

  @media (max-width: 599px) {
    padding: 0 0 0 80px;
  }
}

#topnav {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
  opacity: 0.25;

  @media (min-width: 768px) {
    position: relative;
    top: 0;

    width: 100%;
    height: 48px;

    -webkit-transition: opacity 0.15s, top 0.15s;
    -moz-transition: opacity 0.15s, top 0.15s;
    -ms-transition: opacity 0.15s, top 0.15s;
    -o-transition: opacity 0.15s, top 0.15s;
    transition: opacity 0.15s, top 0.15s;

    &:hover {
      top: 0;
      opacity: 1;
    }

    &.hidden {
      top: -42px;

      /* 放慢活跃标签变化时原先活跃的标签向上收缩的速度 */
      .navitem {
        -webkit-transition: top 0.5s, background-color 0s 0.5s;
        -moz-transition: top 0.5s, background-color 0s 0.5s;
        -ms-transition: top 0.5s, background-color 0s 0.5s;
        -o-transition: top 0.5s, background-color 0s 0.5s;
        transition: top 0.5s, background-color 0s 0.5s;
      }

      /* 让当前活跃的大区标题在顶部导航隐藏的时候拉下来 */
      .navitem-active {
        top: 42px;
        background-color: rgba(0, 0, 0, 0.5);
        transition: top 0.75s ease 0.5s;
      }

      &:hover {
        .navitem-active {
          top: 0px;
          background-color: transparent;
          transition: none;
        }
      }
    }
  }
}


/* vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8: */
