body {
  color: #1f1f1f;
  background-color: #f8fcf3;
}

article {
  width: 80%;
  margin: 2em auto;

  font-family: "Junction", "WenQuanYi Micro Hei Light", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

h1 {
  font-size: 32px;
  color: #669a1f;
}

article>header {
  margin: 0 0 1em;
}

form {
  font-size: 20px;
}

input,
select {
  font-family: "Junction", "WenQuanYi Micro Hei Light", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
  font-size: 20px;
}

label {
  font-size: 90%;
  color: #669a1f;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  clear: both;
  width: 100%;

  margin: 0 0 1em;
  padding: 4px 4px 2px 6px;
  border: none;
  background: transparent;
  box-shadow: 0 0 6px rgba(169, 212, 109, 0.75);
  border-radius: 12px;
}

select {
  clear: both;
  width: 80%;
  margin: 0 0 1em;
}

form>section {
  position: relative;
  margin: 0 0 1em;
  border-bottom: 1px solid rgba(169, 212, 109, 0.4);
}

form>section>fieldset {
  margin: 0 0 0 25%;
  padding: 0 0 1em;
  width: 50%;
}

input[type="text"]:last-child,
input[type="email"]:last-child,
input[type="password"]:last-child,
select:last-child,
form>section:last-child,
fieldset>dl:last-child,
fieldset>code:last-child {
  margin-bottom: 0;
}

form>section:last-child {
  border-bottom: none;
}

form>section>fieldset>legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  font-weight: bold;
  color: #669a1f;
}

.sub-fieldset {
  width: 100%;
}

.sub-fieldset>legend {
  display: block;
  margin: 0 0 0.75em;
  font-size: 90%;
  font-weight: inherit;
  border-bottom: 1px solid #669a1f;
  color: #669a1f;
}

fieldset>dl {
  display: inline-block;
  margin: 0 0 1em;
}

fieldset>dl>dt {
  display: inline-block;
  margin-left: 1em;
}

fieldset>dl>dt:first-child {
  margin-left: 0;
}

fieldset>dl>dd {
  display: inline-block;
}

input[type="text"].ng-invalid.ng-dirty,
input[type="email"].ng-invalid.ng-dirty,
input[type="password"].ng-invalid.ng-dirty {
  background-color: rgba(255, 0, 0, 0.1);
  box-shadow: 0 0 6px rgba(255, 0, 0, 0.1);
}

input[type="text"].ng-valid.ng-dirty,
input[type="email"].ng-valid.ng-dirty,
input[type="password"].ng-valid.ng-dirty {
  background: rgba(0, 255, 0, 0.1);
}

.debugcode {
  display: block;
  margin: 0 0 2em;
  opacity: 0.75;
  font-family: "Source Code Pro", monospace;
  font-size: 50%;
  font-weight: 100;
}

input + .debugcode {
  margin: -1em 0 1em;
}


/* vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8: */
