<!DOCTYPE html>
<html lang="cmn">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <title>进站 - 江南听雨用户体验设计稿</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="通往新世界的大门">
    <meta name="author" content="JNRain">

    <!-- styles -->
    <link rel="stylesheet" href="//static.jnrain.com/common/css/reset.css" />
    <link rel="stylesheet" href="//static.jnrain.com/common/css/normalize.css" />
    <link rel="stylesheet" href="css/landing.css" />

    <!-- framework js -->
    <script src="//static.jnrain.com/common/js/config.js"></script>
    <script src="//static.jnrain.com/common/js/require.js"></script>

    <!-- [if lt IE 9]
      just ignore them for the moment
    [endif] -->
  </head>

  <body class="zh-cn">
  <div id="screen" ng-controller="EventScreen" ng-class="events[currEvent].bgClass">
    <section id="loginbox"
      ng-controller="SigninBox"
      data-drag="true"
      jqyoui-draggable
      data-jqyoui-options="nativeDragOptions"
      ng-mouseenter="cancelImageTimer()"
      ng-mouseleave="newImageTimer()"
      >
      <div id="loginbox-titlebar"></div>
      <div id="loginbox-content">
        <div id="loginbox-inner">
          <h2 id="logintitle">登陆江南听雨站</h2>

          <form
            id="signinform"
            novalidate="novalidate"
            name="signinForm"
            ng-controller="SigninForm">
            <input id="ident" type="text" name="ident" required="required"
            placeholder="邮箱/ID/学号/工号"
            ng-model="ident"
            />
            <input id="psw" type="password" name="psw" required="required"
            placeholder="密码"
            ng-model="psw"
            />
          </form>
        </div>
      </div>
    </section>

    <figure id="event-screen">
      <div id="eventshots">
        <div ng-style="bkgndImage(events[prevEvent].href)" class="shot shot-prev"></div>
        <div ng-repeat="evt in events" ng-style="bkgndImage(evt.href)" ng-class="{ 'shot': true, 'shot-active': $index == currEvent }"></div>
      </div>

      <figcaption id="eventtitle">
      <div id="evttitles-container">
        <ul id="evttitles">
          <li
          ng-repeat="evt in events"
          ng-class="{ 'evttitle': true, 'evttitle-active': $index == currEvent }"
          ng-bind-html="evt.desc"
          ng-mouseenter="cancelImageTimer()"
          ng-mouseleave="newImageTimer()"
          ></li>
        </ul>
      </div>
      </figcaption>

      <div id="eventlist-container" class="vertmiddle-outer">
        <ul id="eventlist" class="eventlist-list">
          <li
          ng-repeat="evt in events"
          ng-style="bkgndImage(evt.thumbHref)"
          ng-class="{ 'shot-active': $index == currEvent }"
          ng-click="cancelHoverTimer(false).switchToShot($index, false)"
          ng-mouseenter="newHoverTimer($index)"
          ng-mouseleave="cancelHoverTimer(true)"
          ></li>
        </ul>
      </div>
      <div id="eventlist-indicators-container" class="vertmiddle-outer">
        <ul id="eventlist-indicators" class="eventlist-list">
          <li ng-repeat="evt in events" class="eventlist-indicator">
          <div ng-class="{ 'indicator': true, 'indicator-active': $index == currEvent }"></div>
          </li>
        </ul>
      </div>
    </figure>
 </div>

  <script src="js/landing.js"></script>
  </body>
<!-- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8: -->
</html>
