<!DOCTYPE html>
<html lang="cmn">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <title>首页 - 江南听雨用户体验设计稿</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="扁平化设计可能会造成RL缩小哦">
    <meta name="author" content="JNRain">

    <!-- styles -->
    <link rel="stylesheet" href="//static.jnrain.com/common/css/reset.css" />
    <link rel="stylesheet" href="//static.jnrain.com/common/css/normalize.css" />
    <link rel="stylesheet" href="//static.jnrain.com/common/css/clear.css" />
    <link rel="stylesheet" href="css/main.scss" />

    <!-- framework js -->
    <script src="//static.jnrain.com/common/js/config.js"></script>
    <script src="//static.jnrain.com/common/js/require.js"></script>

    <!-- [if lt IE 9]
      just ignore them for the moment
    [endif] -->
  </head>

  <body class="zh-cn">
  <div id="screen" data-ng-controller="MainPage">
    <section id="content" data-ng-scroll-event="updateScroll($event, isEndEvent);">
      <section id="noticebox">
      </section>
      <ul id="areas" class="posts">
        <li id="area-{{area.name}}" class="area post"
        data-ng-repeat="area in areas"
        data-jq-waypoint="updateActiveAreaFactory($index)"
        data-jq-waypoint-ctx="#content"
        >
        {{area.name}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz
        <div class="wnd-bg"
        data-ng-style="getAreaStyle(area)"
        ></div>
        </li>
      </ul>
      <footer id="footer"
      data-jq-waypoint="updateActiveAreaFactory(-1)"
      data-jq-waypoint-ctx="#content"
      >
        <section class="footernotice">
          <p>Copyright 2012-2013 JNRain.</p>
          <p><a href="http://validator.w3.org/check?uri=referer">Valid HTML5</a></p>
        </section>
        <div class="wnd-bg"></div>
      </footer>
    </section>
    <section id="person" data-ng-class="{ 'hidden': topNavHidden }">
      <div class="avatar-big">
      </div>
      <div class="info">
      </div>
    </section>
    <section id="topnavbox">
      <nav id="topnav"
      data-ng-class="{ 'hidden': topNavHidden, 'hover': topNavHover }"
      data-ng-init="topNavHover = false"
      >
        <div class="navmenu"
        data-ng-mouseenter="topNavHover = true"
        data-ng-mouseleave="topNavHover = false"
        >
          <ul id="areanav" class="navclass-top clear">
            <li class="areanavitem navitem"
            data-ng-repeat="area in areas"
            data-ng-class="{ 'navitem-active': $index == activeArea }"
            data-ng-style="getNavStyle(area)"
            >
            <a href="#area-{{area.name}}" class="areanavlink navlink">{{area.name}}</a>
            </li>
            <li class="areanavitem navitem"
            data-ng-class="{ 'navitem-active': -1 == activeArea }"
            >
            <a href="#footer" class="areanavlink navlink">我们</a>
            </li>
          </ul>
          <ul id="sitenav" class="navclass-top navclass-alignright clear">
            <li class="sitenavitem navitem">
            <a href="javascript:void(0)" class="sitenavlink navlink nightmode-toggle"
            data-ng-class="getNightModeToggleClass()"
            data-ng-click="toggleNightMode()"
            >夜间模式</a>
            </li>
            <li class="sitenavitem navitem">
            <a href="#" class="sitenavlink navlink">BT站</a>
            </li>
            <li class="sitenavitem navitem">
            <a href="#" class="sitenavlink navlink">日记站</a>
            </li>
            <li class="sitenavitem navitem">
            <a href="#" class="sitenavlink navlink">运行状态</a>
            </li>
          </ul>
        </div>
        <ul id="breadcrumb" class="clear">
          <li class="crumb">江南听雨站</li>
          <li class="crumb">首页</li>
        </ul>
      </nav>
    </section>

    <div id="nightmode-overlay" data-ng-class="{ enabled: isNightModeEnabled }">
    </div>
  </div>

  <script src="js/main.js"></script>
  </body>
<!-- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8: -->
</html>
