<!DOCTYPE html>
<html lang="cmn">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <title>首页 - 江南听雨用户体验设计稿</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="扁平化设计可能会造成RL缩小哦">
    <meta name="author" content="JNRain">

    <!-- styles -->
    <link rel="stylesheet" href="//static.jnrain.com/common/css/reset.css" />
    <link rel="stylesheet" href="//static.jnrain.com/common/css/normalize.css" />
    <link rel="stylesheet" href="//static.jnrain.com/common/css/clear.css" />
    <link rel="stylesheet" href="css/main.scss" />

    <!-- framework js -->
    <script src="//static.jnrain.com/common/js/config.js"></script>
    <script src="//static.jnrain.com/common/js/require.js"></script>

    <!-- [if lt IE 9]
      just ignore them for the moment
    [endif] -->
  </head>

  <body class="zh-cn">
  <div id="screen" ng-controller="MainPage">
    <section id="content" ng-scroll-event="updateScroll($event, isEndEvent);">
      <section id="noticebox">
      </section>
      <ul id="areas" class="posts">
        <li class="area post" ng-repeat="area in areas" jq-waypoint="updateActiveAreaFactory($index)" jq-waypoint-ctx="#content" ng-style="getAreaStyle(area)">
        <a name="area-{{$index}}"></a>
        {{area.name}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz<br />
        {{$index}}.abcdefghijklmnopqrstuvwxyz
        </li>
      </ul>
    </section>
    <section id="person">
      <div class="avatar-big">
      </div>
      <div class="info">
      </div>
    </section>
    <section id="tabpanebox">
      <nav id="tabpane">
        <ul class="tablist">
          <li class="tabwnd">Tab 1</li>
          <li class="tabwnd">Tab 2</li>
          <li class="tabwnd">Tab 3</li>
        </ul>
      </nav>
    </section>
    <section id="topnavbox">
      <nav id="topnav" ng-class="{ 'hidden': topNavHidden }">
        <ul id="areanav" class="navclass-top clear">
          <li class="areanavitem navitem" ng-repeat="area in areas" ng-class="{ 'navitem-active': $index == activeArea }" ng-style="getNavStyle(area)">
          <a href="#area-{{$index}}" class="areanavlink navlink">{{area.name}}</a>
          </li>
        </ul>
        <ul id="sitenav" class="navclass-top navclass-alignright clear">
          <li class="sitenavitem navitem">
          <a href="#" class="sitenavlink navlink">BT站</a>
          </li>
          <li class="sitenavitem navitem">
          <a href="#" class="sitenavlink navlink">日记站</a>
          </li>
          <li class="sitenavitem navitem">
          <a href="#" class="sitenavlink navlink">运行状态</a>
          </li>
        </ul>
      </nav>
    </section>
  </div>

  <script src="js/main.js"></script>
  </body>
<!-- vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8: -->
</html>
